html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 350%;
}

a {
  text-decoration: none;
  color: inherit;
}

section#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #8d14ff;
  color: #ebebeb;
}

h1#intro-name {
  font-size: 500%;
  margin-bottom: 0;
}

#intro-subheading {
  font-size: 300%;
  color: #c484ff;
  margin-bottom: 0;
}

#head-image {
  min-width: 300px;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

#details {
  font-size: 100%;
  margin: auto;
}

#header-img {
  margin-top: 5vh;
}

#icon-links {
  padding: 0;
  list-style-type: none;
}

#icon-links a {
  color: white;
}

#icon-links a:hover {
  color: rgba(255, 255, 255, 0.637);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#icon-links li {
  color: #afafaf;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 250%;
  display: inline;
}

#header-icon {
  width: 450px;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  h1#intro-name {
    font-size: 300%;
  }
  #intro-subheading {
    font-size: 120%;
  }
  p {
    font-size: 80%;
  }
  #header-icon {
    width: 240px;
    position: relative;
  }
  #icon-links li {
    font-size: 150%;
  }
}

#github-btn {
  border: 1px solid #272727;
  border-radius: 25px;
  padding: 10px;
  width: 150px;
}

#github-btn:hover {
  border: 1px solid #272727;
  color: white;
  background-color: #272727;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#under_construction {
  margin: 0 auto;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */